html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  text-decoration: none;
  box-sizing: border-box;
  color: #333;
}

h1{
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
}

h2{
  font-size: 22px;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
  padding: 4vw;
}

.container {
  overflow-x: hidden;
}
.container-open {
  overflow-y: hidden;
  height: 50vh;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  left: 0;
  width: 100vw;
  transition: 300ms;
  border-bottom: solid 2px;
  background-color: #fff;
}

.navbar  {
  display:flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar a {
  margin: 0 1rem;
  padding: 1vh;
}


.navbar a:hover {
  color: #75b6b3;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section ul{
  list-style: none;
}

/* SECTION HOME */

section#home {
  height: 100vh;
  justify-content: center;
}

#logo-container{
  display: flex;
  flex-direction: column;
}
#logo{
  opacity: 1;
}
#logo-text{
  position: relative;
  text-align: center;
  top:-24vh;
  font-size: 9vh;
  font-weight: bold;
  color: #000;
}

   /* SECTION BOX */

section#theBox{
  color: #333;
}

.box-container{
  display: flex;
  gap: 4vw;
}

.text-container{
  margin: 2vw 0;
  display: flex;
  flex-direction: column;
  height: 50vw;
  justify-content: space-evenly;
}

#box-img-in-container{
  display: none;
}

#box-img{
  margin: 2vw 0;
  width: 50vw;
  height:50vw;
}

   /* SECTION HOW */

section#how2 {
}

.about-text{
  width: 92vw;
  padding: 4vw 0vw 2vw 0vw;
}


.examples-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examples-container img{
  width: 30vw;
  margin-bottom: 1vw;
}

section#how{
  margin: 60px 0;
  display: block;
}

.how-text {
  margin-bottom: 4vw;
  align-self: flex-start;
}

.swipe-tag {
  display: none;
}


.steps-container {
  display: flex;
  gap: 1vw;
}

.steps-container h3{
  display: none;
}

.descriptions{
  display: flex;
  gap:1vw;

}

.descriptions h3{

  flex: 1;
}

   /* SECTION SHOP */

section#shop{
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

#shopLink {
  display: flex;
  width:120px;
  height:120px;
  margin: 4vw;
  align-items: center;
  justify-content: center;
  border:solid #333 60px;
  color: white;
  border-radius: 50%;
  transition: 300ms;
}

#shopLink:hover{
  border:solid #333 15px; 
  color:#333;
}

   /* SECTION EVENTS */

section#events {
}

#workshops-header{
  align-self: flex-start;
}


section#events p{
  width: 92vw;
  margin: 4vh 0;
}

.workshops-container{
  display: flex;
  width: 92vw;
  gap: 1vw;
  flex-direction: row;
}
.workshops-container img{
width: 33%;
}

#markets-header{
  margin-top: 4vw;
  align-self: start;
}
.market-container{
  width: 92vw;
  display: flex;
  gap: 1vw;
}


#market-logos {
  flex:1;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#market-logos img{
  width: 12vh;

}
#market-list {
  flex:2;
  text-align: left;
}


/* SECTION ABOUT */

section#about {
  margin-top: 4vw;
  display: block;
}

#about-header{
  margin-bottom: 2vw;
}
.about-container{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

#about-image{
  flex:1;
}

.me-text {
  flex:1;
  color: #333;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.me-text p{
  font-size: 20px;
  margin-bottom: 2vw;
}

.me-text a:hover{
  color: #75b6b3;
}

.nav-icon {
  color: #333;
}
.nav-icon:hover {
  color: #75b6b3;
}


section#contact {
  text-align: center;
  margin-top: 5vh;
}

#social-media{
  padding: 15px 10px; 
}

#top-scroll-section{
  display: flex;
  align-items: flex-end;
}

#top-scroll{
  color: #333;
  padding: 20px;
  font-weight: bold;
  transition: 400ms;
}
#top-scroll:hover{
  color: #75b6b3;
}




@media screen and (max-width: 850px){
  
  *{
    font-size: 18px;
    text-align: center;
  }
  h1{
    font-size: 25px;
  }

  .navbar {
    display: none;
  }

  .navbar a {
    color: #fff;
    margin-bottom: 5px;
  }
  .navbar a i {
    color: white;
    margin: 0 3px;
  }

  .navbar-open{
    position: absolute;
    display: flex;
    width: unset;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: unset;
    overflow-x: hidden;
  
  }

  .burger {
    position: fixed;
    right: -55px;
    top: -55px;
    background-color: #333;
    border-radius: 50%;
    transition: ease 400ms;
    height: 110px;
    width: 110px;
    z-index:5;
  }
  
  .burger-open{
    right: -300vh;
    top: -300vh;
    height: 600vh;
    width: 600vh;
    z-index: 2;
  }

  .bBar {
    position: fixed;
    background-color: #fff;
    width:26px;
    height: 5px;
    margin: 4px;
    transition: 300ms;
    right: 5px;
    z-index:7;
  }

  .bar1{
    top:5px;
  }
  .bar2{
    top:14px;
  }
  .bar3{
    top:23px;
  }

  /* burger hover animation */
  
  #hover-box{
    position: fixed;
    width: 40px;
    height: 40px;
    top:0;
    right: 0;
    z-index: 20;
  }

  #hover-box:hover ~ .bBar{
    background-color: #75b6b3;
  }

  .burger-open .bar1{
    transform: translateY(9px);
    background-color:#333;
  }
  .burger-open .bar2{
    transition-delay: 0.2s;
    height:26px;
    border-radius: 50%;
    background:#333;
    border: solid #fff 4px;
    z-index: 6;
    transform: translateY(-45%);
    z-index: 11;
  }
  
  .burger-open .bar3{
    transform: translateY(-9px);
    background-color:#333;
  }

  .burger-open .burger{
    height:100vh;
    overflow-x:hidden;
  }


  /* SECTION HOME */
  #logo-text{
    width: 100%;
  }
  
  /* SECTION BOX */
  
  section#theBox{
    color: #333;
  }
  
  .text-container{
    width: 92vw;
    height: auto;
    text-align: left;
  }

  #preHead{
    margin-bottom: 4vw;
  }

  #box-img-in-container{
    display: block;
    margin-top: 4vw;
    width: 92vw;
  }

  #box-img{
    display:none;
  }
  #box-list{
    margin-bottom: 4vw;
  }
  

  .examples-container img{
    width: 33%;
  }

  section#how{
    flex-direction: column;
    text-align: center;
    margin-top:0;
  }
  .how-text {
    position: relative;
    width: 92vw;
    margin-bottom: 20vw;
    margin-top: 8vw;
  }

  .steps-container{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  
  .how-pair{
    width: 45vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
  }

  .steps-container h3{
    display: unset;
    transform: translateY(-5vw);
  }
  .steps-container img{
   width: 100%;
   
  }


  .descriptions{
    text-align: center;
  }
  
  .descriptions h3{
    padding: 1vw;
    width: 92vw;
  }

  #d1,#d2, #d3, #d4 {
    display: none;
  }

     /* SECTION SHOP */

section#shop{
  justify-content: center;
  flex-wrap: wrap;
}


    /* SECTION EVENTS */
    
    section#events h1{
      transform: translateX(0);
      margin: 4vh 0 0 0;
    }
    
    section#events p{
      width: 92vw;
      margin: 4vh 0;
    }

    #workshops-header{
      align-self: center;
    }
    
    .workshops-container{
      flex-wrap: wrap;
    }
    .workshops-container img{
      width: 49%;
    }
    #first-workshop{
      width: 100%;
    }
    
    .market-container{
      margin: 4vh;
      width: 92vw;
      flex-wrap: wrap;
      flex-direction: column;
    }
    #markets-header{
      align-self: center;
    }


    #market-list {
      width: 100%;
      text-align: left;
    }
    #market-list li{
      margin: 2vw 0;
      font-size: 16px;
    }
    
    #market-logos {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    #market-logos img{
      margin-top:4vw;
      width: 20vw;
    }

      
    /* SECTION ABOUT */

    .about-container{
      flex-direction: column;
    }

    section#about img{
      margin: 0;
      width: 100%;
    }
    
    #about-header {
      margin-top: 4vw;
    }

    #about-text-p2 {
      color:#333;
    }

}

@media screen and (max-width: 500px){

  .how-pair{
    margin-bottom: 4vw;
  }

}


@media screen and (max-width: 350px){

  .how-pair{
    width: 92vw;
    height: unset;
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
  }

}