

* {
  margin: 0;
  padding: 0;
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  text-decoration: none;
  box-sizing: border-box;
}

h1{
  font-size: 30px;
  line-height: 1.2;
}

h2{
  font-size: 22px;
  line-height: 1.5;
}

a {
  color: #fff;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;

}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100vw;
  height: 60px;
  background: #000;
  opacity: 0.7;
}

.navbar ul {
  display:flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover {
  color: #75b6b3;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section ul{
  list-style: none;
}

/* SECTION HOME */

section#home {
  height: 100vh;
  text-align: center;
}

section#home h1{

  position: absolute;
  top: 58vh;
  left:50%;
  translate: -50%;
  font-size: 8vh;
  font-weight: bold;
  color: #000;
  height: 10vh;
}


#logo{
position: absolute;
opacity: 1;
top: 13vh;
left: 50vw;
translate: -50%;
}

   /* SECTION BOX */

section#theBox{
  color: #333;
}

.box-container{
  width: 92vw;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 4vw;
}

.text-container{
  margin: 2vw 0;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
}

#box-img-in-container{
  display: none;
}

#box-img{
  margin: 2vw 0;
  width: 50vw;
  height:50vw;
}



   /* SECTION HOW */

section#how2 {
  flex-direction: column;
  justify-content: left;
 
}

.about-text {
  width: 92vw;
  padding: 4vw 0vw 2vw 0vw;
}


.about-images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92vw;
}
#swipe-tag-examples{
  display: none;
}
.about-images img{
  width: 30vw;
  margin-bottom: 1vw;
}

section#how{
  margin: 60px 0;
}

.how-text {
  margin-right: 4vw;
  margin-bottom: 2vh;
  align-self: flex-end;
}


.slide-container{
  width: 92vw;
  height: 24vw;
}

#swipe-tag {
  display: none;
}


.how-images {
  width: 92vw;
  display: flex;
  justify-content: space-between;
}

.how-images img{
  width: 22vw;
  height: 22vw;
}
.descriptions{
  display: flex;
  width: 92vw;
  justify-content: space-between;
}

.descriptions h3{
  padding: 1vw;
  width: 22vw;
}

#i1{
  margin-left: 0vw;
}
#i2{
  left: 21vw;
}
#i3{
  left: 42vw;
}
#i4{
  left: 63vw;
}

   /* SECTION ABOUT */

section#about {
  background: url('images/section_me/aboutMe.png') no-repeat center right;
  background-size: 100vh auto ;
  background-color: #000;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  color:#fff;
  height: 100vh;
}

section#about .me-text {
  padding: 4vw;
  width: 50%;
  line-height: 1.8;
}

   /* SECTION EVENTS */

section#events {
  display: flex;
  padding: 4vh 4vw;
  justify-content: center;
  text-align: left;

}

#workshops-header{
  align-self: flex-start;
  margin: 4vh 0 0 0;
}

#markets-header{
  align-self: center;
  translate: -105%;
}

section#events p{
  width: 92vw;
  margin: 4vh 0;
}

.events-img-container{
  width: 92vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}
.events-img-container img{
  width: 32%;
}

.market-container{
  margin: 4vh;
  width: 92vw;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  gap:4vw;
}
#market-list {
  width: 45%;
  text-align: right;
}

#market-logos {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#market-logos img{
  width: 12vh;
}

   /* SECTION SHOP */

section#shop{
  background-image: url("./images/section_5/workshop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  color:#fff;
  height: 100vh;
}

#shop-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #333;
  opacity: 0.8;
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  height: 220px;
  width: 220px;
}

#shopLink {
  color: #fff;
  transition: all 0.3s;
  border: solid 2px #fff;
  border-radius: 10px;
  width: 100px;
  margin: 5px 0;
  padding: 5px;
}


#shopLink:hover{
  background-color: #fff;
  color: #333;
}


.nav-icon:hover {
  color: #75b6b3;
}

.nav-icon {
  color: #333;
}

section#contact {
  text-align: center;
  margin-top: 5vh;
}
section#contact span{
  margin:  2vh 5vw;
  padding: 3vh;
}
section#contact span a{
  margin: 2vh;
}


@media screen and (max-width: 850px){
  
  *{
    font-size: 18px;
  }
  .navbar {
    display: none;
    background-color: rgba(0,0,0,0);
    width: 10vw;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50vw;
    top: 50vh;
    translate: -50% -50%;
    width: 30vw;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    margin: 0;
    padding: 0;
  }


  .burger {
    z-index: 4;
    position: fixed;
    right: -50px;
    top: -50px;
    background-color: #333;
    border-radius: 50%;
    transition: ease 400ms;
    height: 104px;
    width: 104px;

  }

  .burger-open{
    right: -150vh;
    top: -150vh;
    height: 300vh;
    width: 300vh;
  }

  .navbar-open{
    display: flex;
  }

  .bars {
    position: fixed;
    right:5px;
    top:5px;
  }
  .bars-open{
    z-index:6;
  }

  .bBar {
    background-color: #fff;
    width:25px;
    height: 5px;
    margin: 3px;
  }

  /* SECTION HOME */
  #logo-text{
    width: 100%;
  }
  
  /* SECTION BOX */
  
  section#theBox{
    color: #333;
  }
  
  .text-container{
    width: 92vw;
    height: auto;
    text-align: left;
  }

  #box-img-in-container{
    display: block;
    margin-top: 4vw;
    width: 92vw;
  }

  #box-img{
    display:none;
  }
  #box-list{
    margin-bottom: 4vw;
     
  }
  
  /* SECTION HOW */

  .slider-examples {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    width: 92vw;
    height: 92vw;
    overflow: hidden;
  }

  #swipe-tag-examples{
    display: block;
    position: absolute; 
    z-index:2;
    left:50%;
    top: 42vw;
    translate: -50%;
  }

  .about-images {
    flex-wrap: unset;
    height:92vw;
    width: 828vw;
    transition: 400ms;
  }

  .about-images img{
    width: 92vw;
    margin: 0;
  }


  section#how{
    flex-direction: column;
    text-align: center;
  }
  .how-text {
    position: relative;
    margin: 4vw;
    width: 92vw;
  }
  
  .slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92vw;
    height: 92vw;
  }
  
  #swipe-tag {
   display: block;
   position: absolute; 
   z-index:2;
   left:50%;
   top: 42vw;
   translate: -50%;
  }

  .slide-container{
    text-align: center;
    position: relative;
    overflow: hidden;
    height:92vw;
    width:370vw
  }
  
  .how-images{
    display: flex;
    position: absolute;
    height: 100%;
    transition: 400ms;
  }

  .how-images img{
    width: 100%;
    height: 100%;
  }

  .descriptions{
    text-align: center;
  }
  
  .descriptions h3{
    padding: 1vw;
    width: 92vw;
  }

  #d2, #d3, #d4 {
    display: none;
  }
  
    /* SECTION ABOUT */

    section#about {
      background: url('images/section_me/aboutMe.png') no-repeat center top;
      background-size: 92vw  ;
      text-align: left;
      align-items: flex-start;
      justify-content: center;
      color:#fff;
      height: auto;
    }
    
      #about-text-p1 {
      margin-top: 95vw;
      color:#333;
      width:92vw;
      line-height: 1.5;
      font-weight: bold;
    }
      #about-text-p2 {
      margin-top: 2vw;
      color:#333;
      width:92vw;
      line-height: 1.5;
    }

    /* SECTION EVENTS */
  
    section#events {
      padding: 4vh 4vw;
    
    }
    
    section#events h1{
      translate: 0;
      align-self: flex-start;
      margin: 4vh 0 0 0;
    }
    
    section#events p{
      width: 92vw;
      margin: 4vh 0;
    }
    
    .events-img-container{
      flex-wrap: wrap;
    }
    .events-img-container img{
      width: 100%;
      padding:  2vw 0;
    }
    
    .market-container{
      margin: 4vh;
      width: 92vw;
    }
    #market-list {
      width: 100%;
      text-align: left;
    }
    #market-list li{
      margin: 2vw 0;
      font-size: 16px;
    }
    
    #market-logos {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    #market-logos img{
      margin-top:4vw;
      width: 20vw;
    }
}